:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

section {
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid grey;
}

label,
p {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  margin-bottom: 0;
  margin-right: 0.5rem;
}
